.navbar {
  height: 10vh;
}

.carousel-inner img {
  max-height: 70vh;
  /* mantiene la proporción original de la imagen */
  object-fit: cover;
  filter: grayscale(50%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#services-title {
  background-color: #f5f5f5;
  padding: 30px;
}

#services .card {
  width: 20rem;
  margin-bottom: 2rem;
}

#services .card-body {
  background-color: #f5f5f5;
  text-align: center;
}

#services .card-body p {
  display: inline-block;
  margin: 0;
}

#services .card-body a {
  text-decoration: none;
}

#services .card-body a:hover {
  color: #000;
}

#footer {
  background-color: #73767a;
  color: #fff;
  padding: 1rem;
}

#footer hr {
  background-color: #fff;
}

#footer .second p {
  font-size: .8rem;
}

#footer .icon {
  fill: #fff;
}

#footer .footer-text p {
  font-size: 1.2rem;
}

#footer .footer-text p {
  font-size: 1.2rem;
}

#footer .footer-title {
  font-weight: bold;
}

#footer .time-table p {
  display: flex;
  justify-content: space-between;
}
